html {
    background-color: #eee;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(70, 70, 70);
}

body {
    display: flex;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    padding: 19px 20px;
}

/*#region Navigation Bar */
.top-nav-container {
    display: flex;
    height: 56px;
    padding: 20px 0px 20px 5px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 5px;
}

.top-nav {
    display: flex;
    padding: 0 100px;
}

.top-nav h1 a {
    text-decoration: none;
}

.top-nav-container .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-nav-container .links a:hover {
    max-height: inherit;
    background-color: #ddd;
    color: #3d7ab3;
}
/*#endregion Navigation Bar */

/*#region Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.recipe-card {
    display: flex;
    margin: 5px;
}

.recipe-card img {
    border-right: 1px solid #ddd;
    display: flex;
    max-width: 256px;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}

.recipe-content {
    display: flex;
    width: 600px;
    justify-content: center;
    flex-direction: column;
}

.recipe-content h3 {
    margin-left: 20px;
}

.recipe-content p {
    text-align: justify;
    margin: 10px 20px 0px 20px;
}

.recipe-content ul {
    margin: 10px 20px 0px 40px;
    list-style: none;
    line-height: 22px;
}

.back-home {
    margin-top: 20px;
    font-size: 20px;
    color: #3d7ab3;
    text-decoration: none;
}
/*#endregion Main Container */

.recipe-card-site img {
    border: 5px solid #bbb;
    display: flex;
    max-width: 512px;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}

.recipe-content-site {
    display: flex;
    width: 600px;
    justify-content: space-evenly;
}

.recipe-content-site ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}


/*#region Bottom Bar*/
.bot-nav-container {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    padding: 10px 400px;
    flex-wrap: wrap;
    margin-top: 5px;
}

.bot-nav-container ul {
    list-style: none;
    text-align: center;
    line-height: 22px;
}

.bot-nav-container a {
    text-decoration: none;
}

.bot-nav-container a:hover{
    color: #3d7ab3;
}
/*#endregion Bottom Bar*/

