html {
    background-color: #eee;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(70, 70, 70);
}

.links a {
    text-decoration: none;
    padding: 19px 20px;
}

p {
    text-align: center;
}

/*#region Navigation Bar */
.top-nav-container {
    display: flex;
    height: 56px;
    padding: 20px 0px 20px 5px;
    border-bottom: 1px solid #ddd;
    justify-content: space-around;
    align-items: center;
}

.top-nav {
    display: flex;
    width: 900px;
    padding: 0 60px;
    justify-content: space-between; 
}

.top-nav h1 a {
    text-decoration: none;
}

.top-nav-container .links {
    display: flex;
    justify-content: flex-end;
}

.top-nav-container .links a:hover {
    display: flex;
    background-color: #bbb;
    color: #3d7ab3;
    justify-content: space-between;
}
/*#endregion Navigation Bar */

/*#region Main Container */
.main-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.recipe-card {
    display: flex;
    border: 1px solid #aaa; /*debugging*/
}

.recipe-card img {
    border: 1px solid #aaa; /*debugging*/
    display: flex;
    width: 256px;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
}

.recipe-content {
    border: 1px solid #aaa; /*debugging*/
    display: flex;
    margin: 5px;
    width: 800px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.recipe-content ul {
    display: flex;
    border: 1px solid #fff;
    justify-content: space-between;
}
/*#endregion Main Container */

/*#region Bottom Bar*/
.bot-nav-container {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    padding: 10px 400px;
    flex-wrap: wrap;
}

.bot-nav-container ul {
    list-style: none;
    text-align: center;
    line-height: 22px;
}

.bot-nav-container a {
    text-decoration: none;
}

.bot-nav-container a:hover{
    color: #3d7ab3;
}

/*#endregion Bottom Bar*/